*{
  box-sizing: border-box;
  margin: 0 ; 
  padding: 0 ;
}
#buttons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}
 

.box{
  flex-wrap: wrap;
  height: 0;
  padding-bottom: 10%;
  width: 10%;
  border-left: solid #cfd8dc 0.1em;
  border-bottom: solid #cfd8dc 0.1em;
}
.box:nth-child(-n+10){
  border-top: solid #cfd8dc 0.1em;
}
.box:nth-child(10n){
  border-right: solid #cfd8dc 0.1em;
}
.grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 !important;
}
.center{
  display: flex;
  justify-content: center;
}
.marginTop{
  margin-top: 2%;
}
#colors{
  display: flex;
}
.selectcolor{
  display: flex;
  align-items: center;
  width: 10%;
  height: auto;
  /* padding: 1px;*/
  font-size: 1.5em; 
}
.colorOptionSelected{
  font-size: 2.6em;
  margin-right: 3%;
}
.button{
  background-color: #00bcd4;
  color: white;
  font-weight: bold;
  border: solid white 0px;
  padding: 3%;
  border-radius: 5px;
  width: 30%;
  margin-right: 2%;
}
.button:hover{
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0.2em 0.3em 1em -0.1em rgba(161,161,161, 1);
}

.colorPicker{
  height: 3em;
  width: 3em;
}
.bordercero{
  border: none;

}
.boxWithoutBorders:nth-child(-n+10){
  border-top: none;
}
.boxWithoutBorders:nth-child(10n){
  border-right: none;
}
.canvas{
  width: 100% !important; 
  height: auto !important;
}
#imageSection{
  display: flex;
  align-items: center;
}
#puppy{
/* width: 30%; */
  height: 6em;
}
.centerItems{
  display: flex;
  justify-content: center;
}
.loading{
  display: flex;
  align-items: center;
  justify-content: center;
}
.marginBottom{
  margin-bottom: 10%;
}